<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flower Find</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/8371c596d2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles.css') }}"/>
   
</head>

<body>
    <div id="homeSidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{{ url_for('profile') }}">Profile</a>
        <a href="{{ url_for('map') }}">Map</a>
        <a href="{{ url_for('about') }}">About</a>
      </div>

      <div id="main">
        <button class="openbtn" style="font-family: Agbalumo" onclick="openNav()">&#9776; Menu</button>
      </div>

 
      <h1 id="welcome" class="welcome">Welcome to FloraFy!</h1>

      <div class="drag-area">
   
        <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
        <header>Drag & Drop to Upload File</header>
        <span>OR</span>
        <!-- <form action="{{ url_for('predict')}}"method="post"></form> -->
          
          <button>Browse File</button>
          
          <input type="file" name="file" id="file" hidden >
          
        
        <!-- </form> -->


        <br>
        <h1>
        {{ prediction_text }} </h1>

        
      </div>

      <script src="{{ url_for('static', filename='home.js') }}"></script>

     

      
    </div>
  

</body>

</html>